{% extends 'base.html' %}
{% load static %}
<head>


    <meta charset="UTF-8">
    <title>Title</title>

</head>


{% block content %}
  <div class="body">
         <div class="container p-4">
        <ul type="A">
         <li class="mb-2 mt-4" style="width: fit-content;"> <h4 class="text-left" style="font-family: 'Merriweather', serif; color: rgba(6, 19, 94, 0.877);">Website development</h4>
          <div class="text-center" style="height: 1.5px; width: initial; background-color: rgba(228, 139, 37, 0.788);"></div>
        </li>
          <div>
        <p style="text-align: justify;">
          As you might know Web development is the building and maintenance of websites it's the work
          that happens behind the scenes to make a website look great.

          on our web development service we focus on building website's for your business by writting <b style="color: rgb(75, 75, 75);"><u>well designed
          , testable , efficent code </u></b> using best web development practices.

          we will use <b style="color: rgb(75, 75, 75);">innovative design</b> and <b style="color: rgb(75, 75, 75);">layout</b> on your website in a way that will describe what you are doing inside
          your business.
        <h5>why your business needs website ?</h5>
        <p style="text-align: justify;">
          Your business needs a website because it provides additional details about your company that
          will boost <b style="color: rgb(75, 75, 75);">exposure and visibility</b>. it will give you an Online Presence. Google & other search engines
          are opt-in service which means unless you tell search engines your contact information, it will
          not be provided to people online. If you want potential customers to find and use your business
          over your competitors, your business needs a well built website.
        </p>

        </p>
        <h6 style="font-style: underline">
          Frameworks we use

        </h6>
        <ul type="circle">
          <li style="color: rgb(61, 60, 61);"><b>React</b></li>
          <li style="color: rgb(61, 60, 61);"><b>Django</b></li>
          <li style="color: rgb(61, 60, 61);"><b>Redux</b></li>
          <li style="color: rgb(61, 60, 61);"><b>Firebase</b></li>

        </ul>
        <a class="btn btn-outline-info btn-small mt-3" href="{% url 'price' 'Website Development'%}">Plan & pricing</a>
        <hr>
        <li  class="mt-4" style="width: fit-content;"><h4 class="text-left"  style="font-family: 'Merriweather', serif; color: rgba(6, 19, 94, 0.877);">E-Commerce (Electronic commerce) web development</h4>
          <div class="text-center" style="height: 1.5px; width: initial; background-color: rgba(228, 139, 37, 0.788);"></div>

        </li> <p style="text-align: justify;" class="mt-2">
          if the word e-commerce is new to you it's  is the buying and selling of goods and services,
          or the transmitting of funds or data, over an electronic network, primarily the internet.
            Popular examples include <b>Amazon , Alibaba , eBay ,Flipkart</b> e.t.c in our country ethiopia <b>Merkato.com</b> is a growing  e-commerce website
        </p>
        <h6 style="font-style: underline">
          E-Commerce can  exsist in d/t types
        </h6>
        <ul type="circle">
          <li style="color: rgb(61, 60, 61);"><b>B2C (business to coustomer)</b></li>
          <li style="color: rgb(61, 60, 61);"><b>B2B (business to business)</b></li>
          <li style="color: rgb(61, 60, 61);"><b>C2C (customer to customer)</b></li>
        <br>
        </ul>
        <p style="text-align: justify;"><b>we use the same frameworks we use for building website with added functionalites that an
          e-commerce website needs these are :- </b></p>
        <ul type="circle" class="mb-2">
          <li>Robust & secure database</li>
          <li>Payment methods</li>
           <p>in our country context there is an encouraging growth in e-payment platform, we add full
            funtionalites of these payment method including
             </p>
             <ul type="circle" class="mb-2">
               <li style="color: rgb(61, 60, 61);"><b>CBE Birr</b></li>
               <li style="color: rgb(61, 60, 61);"><b>Amole</b></li>
               <li style="color: rgb(61, 60, 61);"><b>Hello Cash</b></li>
               <li style="color: rgb(61, 60, 61);"><b>M-Birr</b></li>
             </ul>

        </ul>
            </div>
        <a class="btn btn-outline-info btn-small mt-3" href="{% url 'price' 'E-Commerce Website Development'%}">Plan & pricing</a>
        <hr>
        <li class="mt-4" style="width: fit-content;"><h4 class="text-left"  style="font-family: 'Merriweather', serif; color: rgba(6, 19, 94, 0.877);">Blog development</h4>
          <div class="text-center" style="height: 1.5px; width: initial; background-color: rgba(228, 139, 37, 0.788);"></div>
        </li>
        <p style="text-align: justify;" class="mt-2"> A blog is a regularly updated website or web page, typically one run by an
          individual or small group, that is written in an informal or conversational style.
        <br><br>
          if have any intention for becoming a blogger or have any expirence or knowledge that will be
          helpfull for others one of the ways for sharing with others is having your own web blog
        <br><br>
          We will build web blog using trending web design and latest technologies , and with embedded
          monitization techniques which you can make money from <b>Advertisment (Ad's)</b>.
        </p>
          <a class="btn btn-outline-info btn-small mt-3" href="{% url 'price' 'Blog Development' %}">Plan & pricing</a>
        <hr>
        <li  class="mt-4" style="width: fit-content;"><h4 class="text-left"  style="font-family: 'Merriweather', serif; color: rgba(6, 19, 94, 0.877);"">Mobile Application development</h4>
          <div class="text-center" style="height: 1.5px; width: initial; background-color: rgba(228, 139, 37, 0.788);"></div>
        </li>

        </li>
        <p style="text-align: justify;" class="mt-2">
          Mobile Application development is the set of processes and procedures involved in writing software for
small, wireless computing devices.<br><br>

Nowdays , More than any other hardware computing technologies peoples
use their phone regualry as a business who use technology to address
it's presence it's good to have mobile applications.<br><br>

Presently, the use of mobile apps can be seen in areas such as <b>communication,
education, cooking, social media, shopping, business (money making), matrimony,
and banking</b>.<br><br>

          we develop cross-platform modern mobile application for both <b>Android & IOS devices</b>
        </p>
        <h6 style="font-style: underline">
           Frameworks & design softwares used
        </h6>
        <ul type="circle" class="mb-3">
          <li style="color: rgb(61, 60, 61);"><b>Ionic</b></li>
          <li style="color: rgb(61, 60, 61);"><b>React</b></li>
          <li style="color: rgb(61, 60, 61);"><b>Redux</b></li>
          <li style="color: rgb(61, 60, 61);"><b>Firebase</b></li>
          <li style="color: rgb(61, 60, 61);"><b>Figma</b></li>
        </ul>
        <div class="p-4 m-4" style="background-color: bisque; border-radius: 20px;">
        <h6 style="font-family: 'PT Sans', sans-serif; font-size: 19px;">Use our special personal app services as a gift for occasions or to surprise
          your soulmate, freinds & colleagues , Our customers really love this offer of ours 😍😍😍<br><br>
          For college graduate students we do graduation megazine using mobile application with custom animation and other cool features
          which will greatly decrease the cost in traditional paper work and enhance life time duration of your memories. 👨‍🎓 👩‍🎓<br><br>
          we also write books using mobile application ✍🏻✍🏻✍🏻 <br><br>
          These special offers will be described more clearly if you <a href="#footer"> contact us 👇🏻 </a></h6>
        </div>
        <a class="btn btn-outline-info btn-small mt-3" href="{% url 'price' 'Mobile App Development' %}">Plan & pricing</a>
        <hr>
        <li  class="mt-4" style="width: fit-content;"><h4 class="text-left"  style="font-family: 'Merriweather', serif; color: rgba(6, 19, 94, 0.877);">Automation</h4>
          <div class="text-center" style="height: 1.5px; width: initial; background-color: rgba(228, 139, 37, 0.788);"></div>

        </li>
          <p style="text-align: justify;" class="mt-2">
            is the creation and application of technology to monitor and control the production
            and delivery of products and services

            Automation is the technology by which a process or procedure is performed with minimal human assistance aor automatic control!

          </p>
          <h6 class="mb-2">
            we do automation for your daily boring bussiness tasks using diffrent approachs : -

         </h6>
         <ul type="circle">
           <li><b>Web based</b>
             <ul type="none">
               <li>suitable for business having dynamic content thats performed in
                d/t places or branches </li>
             </ul>
           </li>
           <li><b>desktop application</b>
            <ul type="none">
              <li>suitable of your daily business task is performed on one place and your content is
                managed with small number of actors
</li>
            </ul>
           </li>
           <li><b>Mobile application</b>
            <ul type="none">
              <li>it will be the mobile version of desktop application automation aproach
              </li>
            </ul>
           </li>

         </ul>
         <a class="btn btn-outline-info btn-small mt-3" href="{% url 'price' 'Automation' %}">Plan & pricing</a>
         <hr>
      </ul>
      </div>
    </div>


{% endblock content %}

